html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: -apple-system,Arial, Helvetica, sans-serif;
    color: white;   
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: rgb(23, 22, 22);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: opacity 0.3s linear;
  }

.loaded{
    display: none;
    z-index: -2;
}

.bgImage{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    animation: fadeIn .5s linear;
}


.top-row {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    margin-top: 1%;
}

.top-right {
    display: flex;
    flex-direction: column;
    margin-right: 20%;
}

.weather-top, .weather-bottom {
    display: flex;
    flex-direction: row;
}

.weather-top>.temperature {
    margin-top: 3px;
    margin-left:5px;
    font-size: 30px;
}
.weather-bottom {
    margin: 0 auto;
}


.greeting-container {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    color: white;
}    

.naming-item,
.greeting-item {
    display: none;
    font-size: 3.7vw;
}    

/* 캐스캐이딩으로 display: none 무시 */
.showing {
    display: flex;
    margin: 0 auto;
    margin-bottom: auto;
    margin-top: 0;
}    



.clock-contaniner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgba( 255, 255, 255, 0.9);
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;

}

.clock-item { 
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
    letter-spacing: -0.03em;
    font-size: 7em;
    width: auto;
}

.center-above {
    height: 1vh;
}

.center-wrap {
    display: flex;
    flex-direction: row;
    height: 50%;
}

.left-side {
    display: flex;
    flex:1 1 50%;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.right-side {
    display: flex;
    flex:1 1 50%;
    flex-direction: column;
    border: 0.01em;
    height: 100%;
}


.todo-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 10%;
}


.daily, .delayed {
    flex: 1 1 50%;
    margin-top: 5%;
    color: white;
    background-color: white;
    background-color: rgba( 255, 255, 255, 0.4 );
    border-radius : 2vw;
}

.todo-container * h1 {
    margin: 5%;
}

.todo-container * h1, .daily>span {
    margin-bottom: 0;
}

.daily>h1, .daily>span {
    display:inline-block;
}

.daily>span {
    color: #9be4b6;
    font-size: 5vh;
    font-weight: bold;
}

.todo-container * li {
    display:flex;
    flex-direction: row;
    flex-flow: wrap;
    width: auto;
}


.todo-container * li > .value {
    margin-right: 1vw;
    font-size: 1.8vw;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 50%;
}

.todo-container * li > button {
    flex: 0 1 auto;
    padding: 0 !important;
    margin: 0.5vw 0.25vw 0;
    width: 1.5vw;
    height: 1.5vw;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0.5vw 0.8vw 0 rgba(0,0,0,0.5);
    cursor: pointer;
}

.del-btn {
    background-color: rgb(184, 55, 55);
}

.move-btn {
    background-color: rgb(46, 49, 224);
}

.todo-container * .time {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2% 2% 0% 1%;
    font-size: 80%;
    color: beige;
}

.cal-container, .add-task {
    margin-left: 30%;
  }

.add-task {
    padding-top: 1vw;
}


td {
    text-align: center;
    font-size: 1.5vw;
    border-color: white;
    border-radius : 0.5vw;
}


.cal-body * td {
    cursor: pointer;
    width: 3.5vw;
    height: 3.5vw;
    font-weight: bold;
    background:white;
    background-color: rgba( 255, 255, 255, 0.3 );
}

.cal-body * .selected-day {
    font-size: 2vw;
    color: white;
    background-color: rgb(42, 175, 120);
}

tr td:nth-child(1){
    color: red;
 }
 tr td:nth-child(7){
    color: blue;
 }
 
.main {
    width: auto;
    font-size: 2.6vw;
}

.previous-btn, .next-btn {
    background-color: rgba( 255, 255, 255, 0 ) !important;
    font-size: 1.5vw;
    text-align: center;
    font-weight: bold;
    width: 3.5vw;
    height: 3.5vw;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}


input {
    margin:0;
    color: #fff;
    font-size: 2.8vw;
    border: none;
    text-align: center;
    background-color:transparent;
    border-bottom: 0.2vw solid #fff;
    border-color: rgba( 255, 255, 255, 0.4 );
}

input::placeholder {
    color:white;
}

.naming-item > input {
    height: 5vw;
    width: 30vw;
}

.add-task>input {
    height: 5vw;
    width: 20vw;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    tp {
        opacity: 1;
    }
}

@media (max-width: 400px) {
    body {
        background-color: #0b351a;
    }
    .top-row {
        display: none;
    }
    .bgImage {
        display: none;
    }
    .clock-contaniner   {
        display: none;
    }

    .daily>span {
        font-size: 5vw;
    }

    .naming-item,
    .greeting-item {
        font-size: 5vh;
    }

    .center-wrap {
        flex-direction: column;
    }

    .cal-container, .add-task {
        margin: 0 auto;
      }    
      
    .cal-body * td {
        width: 5vh;
        height: 5vh;
    }
    
    td {
        font-size: 2.5vh;
    }

    .previous-btn, .next-btn {
        font-size: 2vh;
    }
        
    
    
    .cal-body * .selected-day {
        font-size: 8vw;
    }

    h1 {
        font-size: 3.5vh;
    }

    .main {
        width: auto;
        font-size: 2.6vh;
    }
 

    .left-side, .right-side {
        flex: none;
        margin: 0;
    }

    .greeting-item {
        height: 5vh;
    }

    .left-side {
        height: 45vh;
    }

    .right-side {
        height: 50vh;
    }


    .todo-container {
        display: flex;
        flex-direction: row;    
        width: 80%;
        height: auto;
    }
    .daily, .delayed {
        flex: 1;
        margin: 3vh 2vw 0 2vw;
        width: 20vw;
        min-height: 30vh;
        color: white;
        background-color: white;
        background-color: rgba( 255, 255, 255, 0.4 );
        border-radius: 2vw;
    }

    .todo-container * li > .value {
        font-size: 2.5vh;
        padding-right: 1.5vw;
    }

    .time {
        display: none;
    }

    .todo-container * li > button {
        width: 1.5vh;
        height: 1.5vh;
        border-radius: 50%;
    }

    ul {
        padding-inline-start: 5vw;
    }

    .add-task>input {
        font-size: 3.5vh;
        width: auto;
        padding: 2vh 0 1vh 0;
    }   

    input::placeholder {
        color:white;
        text-align: left;
        padding-right: auto;
    }
    
}